version: '3.1'
volumes:
  php-fpm-socket:
  db-store:
services:
    app:
      build:
        context: .
        dockerfile: ./docker/app/Dockerfile
      volumes:
        - php-fpm-socket:/var/run/php-fpm
        - ./src:/work/src
      environment:
        - DB_CONNECTION=pgsql
        - DB_HOST=postgres
        - DB_PORT=5432
        - DB_DATABASE=${DB_NAME:-laravel_local}
        - DB_USERNAME=${DB_USER:-larapost}
        - DB_PASSWORD=${DB_PASS:-postpasswd}

    web:
      build:
        context: .
        dockerfile: ./docker/nginx/Dockerfile
      ports:
        - ${WEB_PORT:-80}:80
      volumes:
        - php-fpm-socket:/var/run/php-fpm
        - ./src:/work/src

    postgres:
      build:
        context: .
        dockerfile: ./docker/postgres/Dockerfile
      ports:
        - 5432:5432
      volumes:
        - ./docker/postgres/data/:/var/lib/postgres
      environment:
        - POSTGRES_PASSWORD=${DB_PASS:-postpasswd}
        - POSTGRES_USER=${DB_USER:-larapost}
        - POSTGRES_DB=${DB_NAME:-laravel_local}
